:root {
    --primary: #161f72;
    --bg: #ffffff;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: var(--bg);
    color: #ffffff;
    min-height: 3000px;
}
/*header*/
.hero {
    /* font-family: "Poppins", sans-serif; */
    font-weight: 700;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    display: white;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255) 15%,
        rgba(255, 255, 255, 0) 65%
    );
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 64rem;
}

.hero .content h1 {
    font-size: 5em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6;
    margin-top: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    /* mix-blend-mode: difference; */
}
.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*about*/
.about,
.menu {
    padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
}

.about .row .content {
    padding: 0;
}
.about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
}

.about .row .content p {
    font-size: 1.2rem;
}

/* menu */
.menu h2 {
    margin-bottom: 0.4rem;
}
.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 300;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}
.menu .row .menu-card {
    margin-top: 2rem;
    text-align: center;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1.5rem auto 0.5rem;
    font-weight: 600;
}

/*media*/
@media (max-width: 1366) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 768) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 450) {
    html {
        font-size: 55%;
    }
}
